open-clip-torch
Pillow
torch
torchvision
sentence-transformers
chromadb
langchain
langchain-ollama
langchain-huggingface
langchain-community
langchain-core
langchain-experimental
flask
python-dotenv
gunicorn
playwright
